<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/catalog.js"></script>
<%- include ./base.ejs %>
<body>

<!--whole page-->
<main id="polaris">
<div class="polaris-main">


<!-- container for tiles:-->
<div class="o-container u-margin-top">
<div class="o-layout">

  <div class="c-hero  c-hero--overlap" style="background-image: url('/images/luke.jpg');">
    <div class="c-hero__caption">
      <div class="o-container">
        <a class="c-hero__link" href="#">
          <p class="c-heading-alpha  u-margin-bottom-none">AR / VR</p>
          <p class="c-heading-delta  u-margin-bottom">How to...</p>
        </a>
        <img src="/images/luke.jpg" width="70px" height="auto" alt="Sky Store" class="u-margin-bottom-small">
      </div>
    </div>
  </div>
  <div class="o-container">
    <!-- html contents to overlap -->
  </div>



<!-- end container for tiles:-->
</div>
</div>

</div><!--polaris main close-->
</main><!--whole page-->

</body>
</html>
