<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/catalog.js"></script>
<%- include ./base.ejs %>
<body>

<!--whole page-->
<main id="polaris">
<div class="polaris-main">

  <!-- container for tiles:-->
  <div class="o-container u-margin-top u--margin-bottom">
  <div class="o-layout">

    <h1 class="c-heading-bravo u-text-center" id="augmentedReality">Augmented Reality</h1>

<!-- AR content -->
<div class="o-layout u-margin-bottom">
    <!--tile-->
    <div class ="o-layout__item u-width-1@x-small u-width-1/1@small u-width-1/1@large u-width-1/1@x-large">

    <article class="itemPanel c-tile  c-tile--skykids" id="ARContent">
          <div class="c-tile__media">
            <img class="c-tile__poster" src="/images/ARInAction.jpg" alt="">
          </div>
          <div class="c-tile__body  c-tile__caption u-text-center">
            <h1 class="c-heading-bravo u-margin-top">Augmented Reality</h2>
              <p class="c-text-lead">See how products look in your room!</p>
          </div>
    </article>
    </div>
    <!--end tile-->
</div>
<div class="o-layout">
    <!--tile-->
    <div class ="o-layout__item u-width-1@x-small u-width-1/2@small u-width-1/2@large u-width-1/2@x-large">

    <article class="itemPanel c-tile  c-tile--skykids" id="ARContent">
          <div class="c-tile__media">
            <img class="c-tile__poster" src="/images/ARNoPenguin.jpg" alt="No Penguin">
          </div>
          <div class="c-tile__body  c-tile__caption u-text-center">
            <h4 class="c-heading-delta u-margin-top">Choose any object to overlay your product</h4>
          </div>
    </article>
    </div>
    <!--end tile-->

    <!--tile-->
    <div class ="o-layout__item u-width-1@x-small u-width-1/2@small u-width-1/2@large u-width-1/2@x-large">

    <article class="itemPanel c-tile  c-tile--skykids" id="ARContent">
          <div class="c-tile__media">
            <img class="c-tile__poster" src="/images/ARPenguin.png" alt="Penguin">
          </div>
          <div class="c-tile__body  c-tile__caption u-text-center">
            <h4 class="c-heading-delta u-margin-top">See a product over your chosen object</h4>
          </div>
    </article>
    </div>
    <!--end tile-->

    <!--tile-->
    <div class ="o-layout__item u-width-1@x-small u-width-1/2@small u-width-1/2@large u-width-1/2@x-large">

    <article class="itemPanel c-tile  c-tile--skykids" id="ARContent">
          <div class="c-tile__media">
            <img class="c-tile__poster" src="/images/ARNoPanda.jpg" alt="No Panda">
          </div>
          <div class="c-tile__body  c-tile__caption u-text-center">
            <h4 class="c-heading-delta u-margin-top">See objects in your room - choose an area</h4>
          </div>
    </article>
    </div>
    <!--end tile-->

    <!--tile-->
    <div class ="o-layout__item u-width-1@x-small u-width-1/2@small u-width-1/2@large u-width-1/2@x-large">

    <article class="itemPanel c-tile  c-tile--skykids" id="ARContent">
          <div class="c-tile__media">
            <img class="c-tile__poster" src="/images/ARPanda.png" alt="Panda">
          </div>
          <div class="c-tile__body  c-tile__caption u-text-center">
              <h4 class="c-heading-delta u-margin-top">See how products look in place!</h4>
          </div>
    </article>
    </div>
    <!--end tile-->
</div>
<!-- end AR content -->

<h1 class="c-heading-bravo u-text-center" id="virtualReality">Virtual Reality</h1>

<!--VR content-->
<div class="o-layout">

  <!--tile-->
  <div class ="o-layout__item u-width-1@x-small u-width-1/2@small u-width-1/2@large u-width-1/2@x-large">

  <article class="itemPanel c-tile  c-tile--skykids" id="VRContent">
        <div class="c-tile__media">
          <img class="c-tile__poster" src="/images/ARPanda.png" alt="">
        </div>
        <div class="c-tile__body  c-tile__caption u-text-center">
            <h4 class="c-heading-delta u-margin-top">VR text</h4>
        </div>
  </article>
  </div>
  <!--end tile-->

  <!--tile-->
  <div class ="o-layout__item u-width-1@x-small u-width-1/2@small u-width-1/2@large u-width-1/2@x-large">

  <article class="itemPanel c-tile  c-tile--skykids" id="VRContent">
        <div class="c-tile__media">
          <img class="c-tile__poster" src="/images/ARPanda.png" alt="">
        </div>
        <div class="c-tile__body  c-tile__caption u-text-center">
            <h4 class="c-heading-delta u-margin-top">VR text</h4>
        </div>
  </article>
  </div>
  <!--end tile-->

  <!--tile-->
  <div class ="o-layout__item u-width-1@x-small u-width-1/2@small u-width-1/2@large u-width-1/2@x-large">

  <article class="itemPanel c-tile  c-tile--skykids" id="VRContent">
        <div class="c-tile__media">
          <img class="c-tile__poster" src="/images/ARPanda.png" alt="">
        </div>
        <div class="c-tile__body  c-tile__caption u-text-center">
            <h4 class="c-heading-delta u-margin-top">VR text</h4>
        </div>
  </article>
  </div>
  <!--end tile-->

  <!--tile-->
  <div class ="o-layout__item u-width-1@x-small u-width-1/2@small u-width-1/2@large u-width-1/2@x-large">

  <article class="itemPanel c-tile  c-tile--skykids" id="VRContent">
        <div class="c-tile__media">
          <img class="c-tile__poster" src="/images/ARPanda.png" alt="">
        </div>
        <div class="c-tile__body  c-tile__caption u-text-center">
            <h4 class="c-heading-delta u-margin-top">VR text</h4>
        </div>
  </article>
  </div>
  <!--end tile-->


</div>
<!-- end VR content -->




<!-- end container for tiles:-->
</div>
</div>

</div><!--polaris main close-->
</main><!--whole page-->

</body>
</html>
