<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
<article class="c-tile">
  <div class="c-tile__content">
    <div class="c-tile__body">
      <p class="c-heading-delta  u-margin-bottom-none">Tile Title</p>
      <p class="c-text-body">Tile Content</p>
    </div>
  </div>
</article>
  </body>
</html>
