  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/catalog.css">
    <title>SkyKids Store</title>
    <%- include ./header2.ejs %>
  </head>
