<!DOCTYPE html>
<html>
  <%- include ./base.ejs %>
  <body>

    <article class="c-tile">
      <div class="c-tile__content">
        <div class="c-tile__body">
          <p class="c-heading-delta  u-margin-bottom-none">Cart</p>
          <p class="c-text-body">Cart Page</p>
        </div>
      </div>
    </article>
  </body>
</html>