<!DOCTYPE html>
<html>
  <%- include ./base.ejs %>
  <body>

    <article class="c-tile">
      <div class="c-tile__content">
        <div class="c-tile__body">
          <p class="c-heading-delta  u-margin-bottom-none"><%= title %></p>
          <p class="c-text-body"><%= message %></p>
        </div>
      </div>
    </article>


    <ul>
      <% for(var i = 0; i < names.length; i++) { %>
        <li><%= names[i] %></li>
        <% } %>
    </ul>
  </body>
</html>
