<!--footer-->
<div class="skycom-footer u-margin-bottom">
<div class="skycom_container skycom-footer__corporate ">

    <ul class="skycom-footer__list">
      <li class="o-list-block__item">
        <a class="skycom-footer__link" href="/">Contact Us</a>
      </li>
      <li class="o-list-block__item">
        <a class="skycom-footer__link" href="http://www.sky.com/shop/terms-conditions/new/">Terms &amp; Conditions</a>
      </li>
    </ul>

<!-- </div> -->

<div class="skycom-footer__copyright u-margin-left u-margin-bottom">
    <a href="http://www.sky.com"><img src="/images/sky-logo-small.png"></a>
    <span class="skycom-footer__body copyright">© 2017 Skyline</span>
</div>
</div>
</div>




<!--end footer-->
