<header>
  <!-- <div class="hero-overlay">
    <div class="hero-overlay-inner table">
    <div class="table-cell center-xy">
    <div class="hero-logo-channel-wrapper"><img src="https://dm8eklel4s62k.cloudfront.net/images/sky/large/sky-kids-logo-17032016-1.png" class="hero-logo-channel">

        <div class="shine top"></div>
        <div class="shine bottom"></div></div></div></div>
        <div class="hero-overlay-inner">
        <div class="hero-details"><h3 class="hero-tx" data-reactid="17"></h3></div></div></div>


<div class="hero-media-wrapper"><img src="https://www.sky.com/assets2/sky-kids-hero-fb923749.png?downsize=1700:*&amp;output-format=jpg" class="hero-image"></div> -->




</header>
