<header class="c-header">
  <div class="o-container o-container--wide">
  <div class="o-layout o-layout--middle">
    <div class="o-layout__item u-width-2/3 u-width-1/5@medium">
    <a href="/">
        <img src="/images/sky-kids-logo.png">
        <!-- <h1 class="c-header__title c-header__title--blackjack">Home</h1> -->
    </a></div>

  <div class="o-layout__item u-width-1/3 u-width-1/5@medium u-push-3/5@medium u-text-right">
    <a href="http://sky.com" class="c-header__logo">
      <span class="u-hide-visually">Sky</span></a></div>
      <div class="o-layout__item u-width-3/5@medium u-pull-1/5@medium u-text-center">
        <nav class="c-nav c-nav--header">
          <ul class="o-list-inline o-list-inline--wide u-margin-bottom-none">
          <li class="o-list-inline__item">
            <a href="/blackjack/playbook/" class="c-nav__link null">Register</a></li>
            <li class="o-list-inline__item"><a href="/blackjack/toolkit/" class="c-nav__link is-active">Login</a></li>
            <li class="o-list-inline__item u-margin-right-none">
              <a href="http://directory.blackjack.sky.com/blackjack/" class="c-nav__link">Basket</a></li></ul>
            </nav></div>

      </div></div></header>

<!-- hero section-->
      <div class="c-hero  c-hero--overlap" style="background-image: url('/images/sky-kids-hero.png');">
        <div class="c-hero__caption">
          <div class="o-container">
            <a class="c-hero__link" href="#">
              <p class="c-heading-alpha  u-margin-bottom-none">Welcome to SkyKids Store</p>
              <p class="c-heading-delta  u-margin-bottom">Try our <a>AR</a> and <a>VR</a> apps!</p>
            </a>
            <!-- <img src="/images/sky-kids-logo.png" width="70px" height="auto" alt="Sky Store" class="u-margin-bottom-small"> -->
          </div>
        </div>
      </div>
      <!-- <div class="o-container"> -->
        <!-- html contents to overlap -->
      <!-- </div> -->
<!-- end hero section-->
