<!--header-->
<header class="c-header">
  <div class="o-container o-container--wide">
  <div class="o-layout o-layout--middle">
    <div class="o-layout__item u-width-2/3 u-width-1/5@medium">
    <a href="/">
        <img src="/images/sky-kids-logo.png">
    </a></div>

  <div class="o-layout__item u-width-1/3 u-width-1/5@medium u-push-3/5@medium u-text-right">
    <a href="http://sky.com" class="c-header__logo">
      <img src="/images/sky-logo-small.png">
      <span class=""></span>
    </a></div>
      <div class="o-layout__item u-width-3/5@medium u-pull-1/5@medium u-text-center">
        <nav class="c-nav c-nav--header">
          <ul class="o-list-inline o-list-inline--wide u-margin-bottom-none">
          <li class="o-list-inline__item">
            <a href="/register" class="c-nav__link null">Register</a></li>
            <li class="o-list-inline__item"><a href="/login" class="c-nav__link is-active">Login</a></li>
            <li class="o-list-inline__item u-margin-right-none">
              <a href="/basket" class="c-nav__link">Basket</a></li></ul>
            </nav></div>

      </div></div>


<!-- hero section-->
      <div class="c-hero" style="background-image: url('/images/sky-kids-hero.png');">
        <div class="c-hero__caption">
          <div class="o-container">
            <a href="/" id="SkyKidsLogo-mainBanner">
                <img src="/images/sky-kids-logo.png">
            </a>
            <a class="c-hero__link" href="/">
              <p class="c-heading-alpha  u-margin-bottom-none" style ="color:#7f7f7f;">Welcome to SkyKids Store</p>
            </a>
              <p class="c-heading-delta  u-margin-bottom" style ="color:#7f7f7f;">Try the <a style ="color:#0072c9">AR</a> and <a>VR</a> apps!</p>

            <!-- <img src="/images/sky-kids-logo.png" width="70px" height="auto" alt="Sky Store" class="u-margin-bottom-small"> -->
          </div>
        </div>
      </div>

<!-- end hero section-->
</header>
