<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/login.js"></script>
	<title>Login Page</title>
</head>

<body>

	<header>
		<nav>
		</nav>
	</header>

	<section>

		<article>
			<header>
				<h2>Login Form:</h2>
			</header>
				<form action="/login/" method="post">
						<label for="loginEmail">Enter your Email Address: </label>
						<input id="loginEmail" type="email" name="loginEmail" placeholder="Your@Email.Address">
						<input id="loginPassword" type="password" name="loginPassword" placeholder="**********">
						<input type="submit" value="Submit Email">
				</form>
				<br/>
				<div id="errorMessage">
						<%= errorMessage %>
				</div>
				<div id="showResetPasswordDiv">Forgotten your password?</div>
		</article>

		<article id="resetPasswordWrapper">
			<header>
				<h2>Reset Password Form:</h2>
			</header>
			<form action="/login/reset/" method="post">
					<label for="team_name">Enter to reset: </label>
					<input id="resetEmail" type="email" name="resetEmail" placeholder="Your@Email.Address">
					<input type="submit" value="Reset Password">
			</form>
		</article>

	</section>

	<aside>
	</aside>

	<footer>
	</footer>

</body>

</html>
