<!DOCTYPE HTML>

<html>

<<<<<<< HEAD
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sky Kids App Catalog - Login</title>
</head>

<body>
	<% if (message) { %>
             <p style="color: red;"><%= message %></p> 
    <% } %>
<div class="o-layout--center">
	<section>
	<h2 class="c-heading-bravo">Sky Kids App Catalog Login:</h2>
	<div class="o-layout__item">
	<article class="c-tile">
  	<div class="c-tile__content">
    <div class="c-tile__body">
=======

	<%- include ./base.ejs %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/login.js"></script>

<body>


		<div class="o-container u-margin-top">
			<div class ="o-layout__item u-width-1@x-small u-width-1/1@small u-width-1/1@large u-width-1/1@x-large">

		<h2 class="c-heading-charlie">Login</h2>


>>>>>>> 641f1bec551491e0217e12c1d8aef074ed1e893d
				<form action="/login" method="post">
					<fieldset>
						<ul class="c-form-list">
							<li class="c-form-list__item">
								<label class="c-form-label" for="username">Enter your username: <abbr title="This field is required" class="c-form-required">*</abbr></label>
								<input class="c-form-input" id="username" type="username" name="username" placeholder="Username">
							</li>
							<li class="c-form-list__item">
								<label class="c-form-label" for="password">Enter your password: <abbr title="This field is required" class="c-form-required">*</abbr></label>
								<input class="c-form-input" id="password" type="password" name="password" placeholder="*******">
							</li>
							<li class="c-form-list__item">
								<input class="c-btn  c-btn--primary" type="submit" value="Login">
							</li>
						</ul>
					</fieldset>
				</form>


	<div id="showResetPasswordDiv">Forgotten your password?</div><br/>

		<div class="o-layout__item">
			<article id="resetPasswordWrapper" class="c-tile">
			<div class="c-tile__content">
			<div class="c-tile__body">
			<header>
				<h2>Reset Password Form:</h2>
			</header>
			<form action="/reset/" method="post">
				<fieldset>
					<ul class="c-form-list">
						<li class="c-form-list__item">
					<label class="c-form-label" for="team_name">Enter Email Address for the Account: </label>
					<input class="c-form-input" id="resetEmail" type="email" name="resetEmail" placeholder="Your@Email.Address">
					</li>
					<li class="c-form-list__item">
					<input class="c-btn  c-btn--primary" type="submit" value="Reset Password">
				</li>
			</div>
			</div>
			</fieldset>
			</form>
		</article>
	</div>



</div>
</div>
</body>

</html>
