<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/login.js"></script>
	<title><%= title %></title>
</head>

<body>

	<header>
		<nav>
		</nav>
	</header>

	<section>

		<article>
			<header>
				<h2>Login Form:</h2>
			</header>
				<form method="post" id="loginForm">
					 <input type="text" name="username" id="username" placeholder="Your Username" required>
					 <input type="password" name="password" id="password" placeholder="***********" required>
					 <input type="submit" name="login" value="Login" id="loginButton">
				</form>
				<br/>
				<div id="showResetPasswordDiv">Forgotten your password?</div>
				<div id="responseMessage"></div>
		</article>

		<article id="resetPasswordWrapper">
			<header>
				<h2>Reset Password Form:</h2>
			</header>
				<form method="post" id="resetPasswordForm">
					 <input type="email" name="email" id="email" placeholder="example@example.com" required>
					 <input type="submit" name="resetPassword" value="Reset Password" id="resetPasswordButton">
				</form>
				<div id="resetPasswordResponseMessage"></div>
		</article>

	</section>

	<aside>
	</aside>

	<footer>
	</footer>

</body>

</html>
