<!DOCTYPE html>
<html>
  <!-- <%- include ./base.ejs %> -->
  <%- include ./header.ejs %>

<head>

  <title>Sky Kids</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <style>
  body { margin:50px auto; width:600px;}

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
  </style>


</head>
<form action="/process-payment" method="post">
<div class="container">
    <div class="col-sm-6">
        <fieldset>
            <legend>Payment</legend>
            <div class="control-group">
                <label label-default="" class="control-label">Card Holder's Name</label>
                <div class="controls">
                    <input type="text" class="form-control" pattern="[a-zA-Z]+" title="First and last name" required="">
                </div>
            </div>
            <div class="control-group">
                <label label-default="" class="control-label">Card Number</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="number" class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" autocomplete="off" maxlength="4" pattern="\d{4}" title="First four digits" required="">
                        </div>
                        <div class="col-md-3">
                            <input type="number" class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" autocomplete="off" maxlength="4" pattern="\d{4}" title="Second four digits" required="">
                        </div>
                        <div class="col-md-3">
                            <input type="number" class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" autocomplete="off" maxlength="4" pattern="\d{4}" title="Third four digits" required="">
                        </div>
                        <div class="col-md-3">
                            <input type="number" class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" autocomplete="off" maxlength="4" pattern="\d{4}" title="Fourth four digits" required="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label label-default="" class="control-label">Card Expiry Date</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-9">
                            <select class="form-control" name="cc_exp_mo">
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" name="cc_exp_yr">
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label label-default="" class="control-label">Card CVV</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" autocomplete="off"   pattern="\d*" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required="">
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </div>
            </div>
            <div class="control-group" id="parent">
                <label label-default="" class="control-label">Shipping Address</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" name="shippingAddress" id="shippingAddress" class="form-control" autocomplete="off"/>
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </div>
            </div>
            <div class="control-group" id="parent">
                <label label-default="" class="control-label">Mobile Number *</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="number" name="phoneNumber" id="phoneNumber" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" autocomplete="off"   pattern="\d*" maxlength="13" pattern="\d{13}" required="">
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </div>
                <div id="popup" style="display: none"><font  color="red">Please enter your phone number in order to receive an order confirmation text</font></div>
            </div>
            <div class="control-group">
              <label label-default="" class="control-label"></label>
              <div class="controls">
                  <button id="payment" type="submit" class="btn btn-primary">Submit</button>

                <button type="button" class="btn btn-default">Cancel</button>
              </div>
            </div>
        </fieldset>
    </div>

</div>
</form>


</body>
</html>
