<html>
<%- include ./base.ejs %>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(window).load(function() {
  	$(".loader").fadeOut("slow");
  })
  </script>

  <style>
    .loader {
  	position: fixed;
  	left: 0px;
  	top: 0px;
  	width: 100%;
  	height: 100%;
  	z-index: 9999;
  	background: url('https://media.giphy.com/media/UFiLH3rAETDIQ/giphy.gif') 50% 50% no-repeat rgb(249,249,249);
  }
  html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
  </style> -->

  <body>
  <div class="loader" ></div>

  <div class="o-layout--center u-margin-top-large">
  <h class="c-heading-alpha">Thanks for your order!</h>
</div>
  </body>
</html>
