
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery Credit Card Validator Example</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="jquery.creditCardValidator-1.1.0/jquery.creditCardValidator.js"></script>
</head>
<body>
    <label>CC number <input></label>

    <p class="log"></p>
</body>

<script>
$('input').validateCreditCard(function(result)
{
    alert('CC type: ' + result.card_type.name
      + '\nLength validation: ' + result.length_valid
      + '\nLuhn validation: ' + result.luhn_valid);
});
</script>

</html>
