<!DOCTYPE HTML>
<html>
  <%- include ./base.ejs %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Register</title>
  <style>

    .error {
      color: red;
    }
  </style>


<body>
  <!-- container for tiles:-->
  <div class="o-container u-margin-top">
    <div class ="o-layout__item u-width-1@x-small u-width-1/1@small u-width-1/1@large u-width-1/1@x-large">

  <h2 class="c-heading-charlie">Register</h2>

  <% if (error) { %>
       <p class="c-form-list__item is-error u-width-1@x-small u-width-1/1@small u-width-1/1@large u-width-1/1@x-large"><%= error %></p>
    <% } %>

<form action="/register" method="post" id="register-form" novalidate="novalidate">
<ul class= "c-form-list">
  <li class="c-form-list__item">
    <label class="c-form-label" for="firstName">
      Username <abbr title="This field is required" class="c-form-required">*</abbr>
    </label>
    <input type="text" class="c-form-input"  name="username" maxlength="16" />
  </li>

  <li class="c-form-list__item">
    <label class="c-form-label" for="email">
      Email <abbr title="This field is required" class="c-form-required">*</abbr>
    </label>
    <input type="email" class="c-form-input" placeholder="e.g. Joe@bloggs.com" name="email" />
  </li>

  <li class="c-form-list__item">
    <label class="c-form-label" for="firstName">
      First name <abbr title="This field is required" class="c-form-required">*</abbr>
    </label>
    <input type="text" class="c-form-input" placeholder="e.g. Joe" name="firstName" pattern="[a-zA-Z]+" maxlength="15"/>
  </li>

  <li class="c-form-list__item">
    <label class="c-form-label" for="lastName">
      Last name <abbr title="This field is required" class="c-form-required">*</abbr>
    </label>
    <input type="text" class="c-form-input" placeholder="e.g. Bloggs" name="lastName" pattern="[a-zA-Z]+" maxlength="20"/>
  </li>

  <li class="c-form-list__item">
    <label class="c-form-label" for="password">
      Password <abbr title="This field is required" class="c-form-required">*</abbr>
    </label>
    <input type="password" class="c-form-input" name="password" minlength="6"/>
  </li>

  <li>
    <input class="c-btn c-btn--primary" type="submit" name="submit">
  </li>

</ul>
</form>

</div>
</div>


</body>

</html>
