block content
    h1.
         #{title}
    ul
        - each account, i in accounts
            li
                = account.firstName
                =account.lastName
                = account.email
                = account.password
                =account.confirmPassword
                =account.address
                =account.postcode
                =account.phoneNumber
                =account.dob
                = account._id
                form(action='/accounts/#{account._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p
                    a(href='/accounts/#{account._id}/edit') Edit
                p
                    a(href='/account/#{account._id}') Show
